
.movie_detail{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

.movie_card{
    
    border-radius: 15px;
    padding: 15px;
    width: 80vh;
    height: 50vh;
    box-shadow: 0px 4px 6px #efefef;
}

.detail_img{
    width: 150%;
    border-radius: 10px;
}


.title_text{
    text-align: center;
}

ul{
    text-align: center;
}

.movie_line{
    display: flex;
    flex-direction: row;
    gap: 30px;

    line-height: 30px;
}

.rating{
    font-weight: 1000;
}

h5{
    cursor: pointer;
}