h1{
  font-size: 40px;
  color: mediumblue;
}

p {
  color: brown;
  font-weight: bold;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.Blink {
  animation: blink-effect 1s step-end infinite;
}


@media screen and (max-width: 768px) {
  h1{
    font-size: 24px;
    color: blue;
  }

  p {
    font-size: 16px;
  }
}